{
  networking = {
    ipv4Address = "YOUR_IPV4_ADDRESS";
    ipv4PrefixLength = 24;
    ipv4Gateway = "YOUR_IPV4_GATEWAY";
    ipv6Address = "YOUR_IPV6_ADDRESS";
    ipv6PrefixLength = 64;
    nameservers = [ "DNS_SERVER_1" "DNS_SERVER_2" ];
  };
}
